/*background*/
body {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/016/894/217/small/white-background-white-polished-metal-abstract-white-gradient-background-blurred-white-backdrop-illustration-vector.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*navbar design*/
nav{
  background-color: #40826D;
  opacity: 0.6;
}

/*toggle options centered and not taking up entire page*/
#toggleOptions{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/*Personal text and professional text design*/
#personalText{
  color: #AFE1AF;
  font-size: 50px;
  font-family: Stencil Std, fantasy;
  margin-top: 20px;
}

#professionalText {
  color: #40826D;
  font-size: 50px;
  font-family: Stencil Std, fantasy;
  margin-top: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 54px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AFE1AF;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #40826D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*card designs*/
#personalRow1,
#personalRow2{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

#travelCard,
#faithCard,
#favoriteCard{
  width:400px;
  height:305px;
}

#travelCard .card-header,
#faithCard .card-header,
#favoriteCard .card-header,
#runningCard .card-title,
#hometownCard .card-title,
#familyCard .card-title{
  color: #AFE1AF;
  font-size: 25px;
  font-family: Stencil Std;
  font-weight: bold;
}

#travelCard .card-body,
#faithCard .card-body,
#favoriteCard .card-body,
#runningCard .card-text,
#hometownCard .card-text,
#familyCard .card-text{
  color: #AFE1AF;
  font-size: 15px;
  font-family: Stencil Std;
}

#runningCard .card-text,
#hometownCard .card-text,
#familyCard .card-text{
  background-color: white;
  text-align: center;
  margin-top: 225px;
}

#faithCard .card-body{
  text-align: center;
  margin-top: 60px;
}

#professionalRow1,
#professionalRow2{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

table{
  width: 100%;
  text-align: center;
  color: #40826D;
  font-size: 15px;
  font-family: Stencil Std;
}

#goalCard{
  height: 100%;
}

#goalCard .card-title,
#educationCard .card-title,
#skillCard .card-title{
  color: #40826D;
  font-size: 25px;
  font-family: Stencil Std;
  font-weight: bold;
}

#goalCard .card-text,
#educationCard .card-text,
#skillCard .card-text{
  color: #40826D;
  font-size: 15px;
  font-family: Stencil Std;
}

a{
  color: #40826D;
  font-size: 15px;
  font-family: Stencil Std;
}
